[model_arguments]
pretrained_model_name_or_path = "/cache/models"
v_parameterization = false

[additional_network_arguments]
no_half_vae = true
network_module = "networks.lora_flux"
network_dim = 32
network_alpha = 32

[optimizer_arguments]
optimizer_type = "prodigy"
learning_rate = 1.0
max_grad_norm = 1.0
optimizer_args = [ "d_coef=1.0", "weight_decay=0.01", "safeguard_warmup=True", "use_bias_correction=True" ]
lr_scheduler = "constant"

[dataset_arguments]
cache_latents = true
debug_dataset = false

[training_arguments]
mixed_precision = "bf16"
save_precision = "bf16"
output_dir = "/app/checkpoints"
output_name = "last"
save_model_as = "safetensors"
max_data_loader_n_workers = 2

[inference]
# REFERENSI MUTLAK JURI (FLUX V2 - CFG 100)
steps = 35
guidance_scale = 10.0
denoise = 0.75
resolution = "1024,1024"
seed = 42