[model_arguments]
pretrained_model_name_or_path = "/cache/models"
v_parameterization = false
max_shift = 1.15
base_shift = 0.5

[additional_network_arguments]
no_half_vae = true
network_module = "networks.lora_flux"
network_dim = 32
network_alpha = 32

[optimizer_arguments]
optimizer_type = "prodigy"
learning_rate = 1.0
max_grad_norm = 1.0
optimizer_args = [ "decouple=True", "d_coef=0.8", "weight_decay=0.01", "safeguard_warmup=True", "use_bias_correction=True" ]
lr_scheduler = "constant"

[dataset_arguments]
cache_latents = true
debug_dataset = false
resolution = 1024
enable_bucket = false
caption_dropout_rate = 0.18
caption_dropout_every_n_epochs = 0

[training_arguments]
output_dir = "/app/checkpoints"
output_name = "last"
save_model_as = "safetensors"
max_data_loader_n_workers = 2
persistent_data_loader_workers = true
gradient_checkpointing = true
mixed_precision = "bf16"
save_precision = "bf16"
loss_type = "huber"
huber_c = 0.1
min_snr_gamma = 5
noise_offset = 0.03

[inference]
# OPTIMIZED FOR L2 FIDELITY
steps = 35
guidance_scale = 3.5
denoise = 0.75
resolution = "1024,1024"
seed = 42