[model_arguments]
pretrained_model_name_or_path = "/cache/models"
v_parameterization = false

[additional_network_arguments]
no_half_vae = true
network_module = "networks.lora"
network_dim = 32
network_alpha = 32

[optimizer_arguments]
optimizer_type = "prodigy"
learning_rate = 1.0
max_grad_norm = 1.0
optimizer_args = [ "decouple=True", "d_coef=1", "weight_decay=0.01", "use_bias_correction=True", "safeguard_warmup=True" ]
lr_scheduler = "constant"
min_snr_gamma = 5

[dataset_arguments]
cache_latents = true
debug_dataset = false

[training_arguments]
mixed_precision = "bf16"
save_precision = "bf16"
output_dir = "/app/checkpoints"
output_name = "last"
save_model_as = "safetensors"
max_data_loader_n_workers = 2
gradient_accumulation_steps = 4
noise_offset_type = "Original"
noise_offset = 0.0357

[inference]
# REFERENSI MUTLAK JURI (SDXL PERSON)
steps = 20
guidance_scale = 8.0
denoise = 0.9
resolution = "1024,1024"
seed = 42