[model_arguments]
pretrained_model_name_or_path = "/cache/models/flux1-dev.safetensors"
ae = "/cache/models/ae.safetensors"
clip_l = "/cache/models/clip_l.safetensors"
t5xxl = "/cache/models/t5xxl.safetensors"
discrete_flow_shift = 3.1582
model_prediction_type = "raw"
guidance_scale = 1.0
apply_t5_attn_mask = true
t5xxl_max_token_length = 512

[additional_network_arguments]
no_half_vae = true
network_module = "networks.lora_flux"
network_dim = 128
network_alpha = 128
network_args = [ "train_double_block_indices=all", "train_single_block_indices=all", "train_t5xxl=True" ]

[optimizer_arguments]
optimizer_type = "Adafactor"
learning_rate = 1.0
unet_lr = 5e-5
text_encoder_lr = [ 5e-5, 5e-5 ]
optimizer_args = [ "scale_parameter=False", "relative_step=False", "warmup_init=False", "weight_decay=0.01" ]
lr_scheduler = "constant"

[dataset_arguments]
cache_latents = true
cache_latents_to_disk = true
debug_dataset = false
resolution = "1024,1024"
enable_bucket = true
min_bucket_reso = 256
max_bucket_reso = 2048
bucket_reso_steps = 64
bucket_no_upscale = true
caption_dropout_rate = 0.0

[training_arguments]
output_dir = "/app/checkpoints"
output_name = "last"
save_model_as = "safetensors"
max_data_loader_n_workers = 0
persistent_data_loader_workers = true
gradient_checkpointing = true
gradient_accumulation_steps = 1
mixed_precision = "bf16"
save_precision = "bf16"
full_bf16 = true
highvram = true
loss_type = "l2"
timestep_sampling = "sigmoid"
xformers = true
train_batch_size = 1
vae_batch_size = 4
mem_eff_save = true
seed = 1

[inference]
# REFERENSI GOD MODE (FLUX)
steps = 35
guidance_scale = 3.5
denoise = 0.75
resolution = "1024,1024"
seed = 42